.titleSection {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 40px;
}

.logo {
  float: right;
  height: 150px;
  width: auto;
}

.letterSelection {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.letter {
  background: #cde0f7;
  border: 6px solid #000;
  border-radius: 4px;
  height: 40px;
  width: 50px;
  font-size: 30px;
  text-align: center; 
}

.searchSelectionArea {
  display: flex;
  justify-content: flex-start;
}

.searchSelection {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 60%;
  margin-left: 10%;
  margin-right: 10px;
  padding: 20px;
  border: 6px solid #e52d27;
  border-radius: 4px;
}

.submitButton {
  position: relative;
  top: 20px;
  max-height: 140px;
  max-width: auto
}

.fetchingSpinner {
  display: flex; 
  justify-content: space-around;
}